@model List<Proyecto.Models.Libro>

<h2>Resultados de la búsqueda</h2>

@if (Model.Any())
{
    <div class="row">
        @foreach (var libro in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="@("/images/" + (libro.RutaFoto ?? "DefaultTapaLibro.jpg"))" class="card-img-top" alt="@libro.Titulo.titulo">
                    <div class="card-body">
                        <h5 class="card-title">@libro.Titulo.titulo</h5>
                        <p class="card-text">Editorial: @libro.Editorial.editorial</p>
                        <a asp-controller="Home" asp-action="DetalleLibro" asp-route-id="@libro.IdLibro" class="btn btn-primary">Ver detalles</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No se encontraron resultados para esta búsqueda.</p>
}