@model List<Operador>

<h1>Operadores</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Nombre de usuario</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var operador in Model)
        {
            <tr>
                <td>@operador.Usuario.Nombre</td>
                <td>@operador.Usuario.Apellido</td>
                <td>@operador.Usuario.Email</td>
                <td>@operador.Usuario.NombreUsuario</td>
                <td>
                    <a asp-action="EliminarUsuario" asp-route-idUsuario="@operador.Usuario.IdUsuario" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
