@model Proyecto.Models.HomeIndexViewModel;
<div class="container">
    <!-- 搜索表单 -->
    <div class="row mb-4">
        <div class="col-md-6 offset-md-3">
            <form asp-controller="Home" asp-action="BuscarLibro" method="get" class="form-inline">
                <div class="input-group w-100">
                    <input type="text" name="query" class="form-control" placeholder="Buscar libros...">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Buscar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
<div class="text-center">
        <p>Categorias</p>
        @if(Model.Administrador == true)
        {
            <a asp-controller="Home" asp-action="AgregarGenero" class="btn btn-primary">Agregar Genero</a>
        }
        <table>
            <thead>
                <tr>
                    <th>Nombre Categoria</th>
                    @if(Model.Administrador == true)
                    {
                        <th>Acciones</th>
                    } <!-- Nueva columna para acciones -->
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Generos.Count(); i++)
                {
                    <tr>
                        <td>@(Model.Generos[i].genero)</td>
                        <td>
                            <td><img src="@("/images/" + (Model.Generos[i].RutaFoto ?? "DefaultGenero.png"))" asp-append-version /></td>
                        </td>
                        <td>
                            <a asp-controller="Home" asp-action="DetalleGenero" asp-route-id="@Model.Generos[i].IdGenero" class="btn btn-primary">Detalle</a>
                            @if (Model.Administrador) // Verifica si es administrador
                            {
                                <a asp-controller="Home" asp-action="ModificarGenero" asp-route-id="@Model.Generos[i].IdGenero" class="btn btn-primary">Modificar</a>
                                <a asp-controller="Home" asp-action="EliminarGenero" asp-route-id="@Model.Generos[i].IdGenero" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este género?');">Eliminar</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @if(Model.EsOperador == true)
        {
            <a asp-controller="Home" asp-action="AgregarLibro" class="btn btn-primary">Agregar Libro</a>
        }
        <p>Libros Populares</p>
        <table>
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Editorial</th>
                    <th>Imagen</th>
                    <th>Calificacion</th>
                    @if(Model.EsOperador == true)
                    {
                        <th>Acciones</th>
                    } <!-- Nueva columna para acciones -->
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.LibrosPopulares.Count(); i++)
                {
                    <tr>
                        <td>@(Model.LibrosPopulares[i].Titulo.titulo)</td>
                        <td>@(Model.LibrosPopulares[i].Editorial.editorial)</td>
                        <td><img src="@("/images/" + (Model.LibrosPopulares[i].RutaFoto ?? "DefaultTapaLibro.jpg"))" asp-append-version /></td>
                        <td>@(Model.LibrosPopulares[i].Calificacion)</td>
                        <td>
                            <a asp-controller="Home" asp-action="DetalleLibro" asp-route-id="@Model.LibrosPopulares[i].IdLibro" class="btn btn-primary">Detalle</a>
                            @if (Model.Administrador) // Verifica si es administrador
                            {
                                <a asp-controller="Home" asp-action="ModificarLibro" asp-route-id="@Model.LibrosPopulares[i].IdLibro" class="btn btn-primary">Modificar</a>
                                <a asp-controller="Home" asp-action="EliminarLibro" asp-route-id="@Model.LibrosPopulares[i].IdLibro" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este libro?');">Eliminar</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <p>Libros Nuevos</p>
        <table>
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Editorial</th>
                    <th>Imagen</th>
                    <th>Calificacion</th>
                    @if(Model.Administrador == true)
                    {
                        <th>Acciones</th>
                    } <!-- Nueva columna para acciones -->
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.LibrosNuevos.Count(); i++)
                {
                    <tr>
                        <td>@(Model.LibrosNuevos[i].Titulo.titulo)</td>
                        <td>@(Model.LibrosNuevos[i].Editorial.editorial)</td>
                        <td><img src="@("/images/" + (Model.LibrosNuevos[i].RutaFoto ?? "DefaultTapaLibro.jpg"))" asp-append-version /></td>
                        <td>@(Model.LibrosNuevos[i].Calificacion)</td>
                        <td>
                            <a asp-controller="Home" asp-action="DetalleLibro" asp-route-id="@Model.LibrosNuevos[i].IdLibro" class="btn btn-primary">Detalle</a>
                            @if (Model.Administrador) // Verifica si es administrador
                            {
                                <a asp-controller="Home" asp-action="ModificarLibro" asp-route-id="@Model.LibrosNuevos[i].IdLibro" class="btn btn-primary">Modificar</a>
                                <a asp-controller="Home" asp-action="EliminarLibro" asp-route-id="@Model.LibrosNuevos[i].IdLibro" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este libro?');">Eliminar</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <p>Libros Elegidos</p>
        <table>
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Editorial</th>
                    <th>Imagen</th>
                    <th>Calificacion</th>
                    @if(Model.Administrador == true)
                    {
                        <th>Acciones</th>
                    } <!-- Nueva columna para acciones -->
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.LibrosElegidos.Count(); i++)
                {
                    <tr>
                        <td>@(Model.LibrosElegidos[i].Titulo.titulo)</td>
                        <td>@(Model.LibrosElegidos[i].Editorial.editorial)</td>
                        <td><img src="@("/images/" + (Model.LibrosElegidos[i].RutaFoto ?? "DefaultTapaLibro.jpg"))" asp-append-version /></td>
                        <td>@(Model.LibrosElegidos[i].Calificacion)</td>
                        <td>
                            <a asp-controller="Home" asp-action="DetalleLibro" asp-route-id="@Model.LibrosElegidos[i].IdLibro" class="btn btn-primary">Detalle</a>
                            @if (Model.Administrador) // Verifica si es administrador
                            {
                                <a asp-controller="Home" asp-action="ModificarLibro" asp-route-id="@Model.LibrosElegidos[i].IdLibro" class="btn btn-primary">Modificar</a>
                                <a asp-controller="Home" asp-action="EliminarLibro" asp-route-id="@Model.LibrosElegidos[i].IdLibro" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este libro?');">Eliminar</a>
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>


    <form asp-controller="Home" asp-action="Logout" method="post">
        @Html.AntiForgeryToken()
        <button type="submit">Logout</button>
    </form>
</div>
