@model Proyecto.Models.LoginRegisterViewModel
@{
    ViewData["Title"] = "Login";
}
@section Styles {
    <link rel="stylesheet" href="~/css/StyleLogin.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
}

<body>
    <video autoplay muted loop id="myVideo">
        <source src="~/videos/FondosMoviles/Login.mp4" type="video/mp4">
    </video>
    
    <!--Login y SingUp-->
    <div class="wrapper">
        <!--Login-->
        <div class="form-box Login">
            <h1> Inicia Sesión </h1>
            <form asp-action="Login" asp-controller="Home" method="post">
                @Html.ValidationSummary(true)
                <div class="input-box">
                    <span class="icon"><ion-icon name="person"></ion-icon></span>
                    <input asp-for="@Model.Login.Usuario" type="text" required>
                    <label> Usuario </label>
                </div>
                <div class="input-box">
                    <span class="icon toggle-password">
                        <ion-icon name="lock-closed"></ion-icon>
                    </span>
                    <input asp-for="@Model.Login.Pass" type="password" class="password" required>
                    <label> Contraseña </label>
                </div>
                <button type="submit" class="btn"> Login </button>
                <div class="login-register">
                    <p>No tenes una Cuenta?<a href="#" class="register-link">Registrate</a></p>
                </div>
            </form>
        </div>

        <!--SingUp-->   
        <div class="form-box SingUp">
            <h1> Registrate </h1>
            <form asp-action="Register" asp-controller="Home" method="post">
                <div class="input-box">
                    <span class="icon"><ion-icon name="person"></ion-icon></span>
                    <input asp-for="@Model.Register.Usuario" type="text">
                    <label>Nombre Usuario</label>
                </div>
                <div class="input-box">
                    <span class="icon toggle-password">
                        <ion-icon name="lock-closed"></ion-icon>
                    </span>
                    <input type="password" class="password" asp-for="@Model.Register.Pass" >
                    <label> Contraseña </label>
                </div>
                <div class="input-box">
                    <span class="icon toggle-password">
                        <ion-icon name="lock-closed"></ion-icon>
                    </span>
                    <input type="password" class="password" required>
                    <label> Verificar </label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input asp-for="@Model.Register.Email" type="email">
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <label for="TipoUsuario">Tipo de Usuario</label>
                    <select id="TipoUsuario" asp-for="@Model.Register.TipoUsuario">
                        <option value=@TipoUsuario.Socio>Socio</option>
                        <option value=@TipoUsuario.Operador>Operador</option>
                    </select>
                    <span asp-validation-for="@Model.Register.TipoUsuario" class="text-danger"></span>
                </div>
                <div id="codigoOperadorDiv" class="input-box" style="display: none;">
                    <label for="CodigoOperador">Código del Operador</label>
                    <input asp-for="@Model.Register.CodigoOperador" id="CodigoOperador" class="pl-12 text-black w-full h-12 rounded-full bg-white outline-none" type="text">
                    <span asp-validation-for="@Model.Register.CodigoOperador" class="text-danger"></span>
                </div>
                <button type="submit" class="btn"> SingUp </button>
                <div class="login-register">
                    <p> Ya tienes una Cuenta? <a href="#" class="login-link">Inicia Sesion</a></p>
                </div>
            </form>
        </div>
    </div>

    <script src="~/js/ScriptLogin.js"></script>
    <!--Iconos de la Pagina-->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

@section Scripts {
    <script>
        function verificarTipoUsuario() {
            var tipoUsuario = document.getElementById('TipoUsuario');
            var codigoOperadorDiv = document.getElementById('codigoOperadorDiv');
            if (tipoUsuario.value === '@TipoUsuario.Operador') {
                codigoOperadorDiv.style.display = 'block';
            } else {
                codigoOperadorDiv.style.display = 'none';
            }
        }

        // Verificar al cargar la página
        document.addEventListener('DOMContentLoaded', verificarTipoUsuario);

        // Verificar cuando cambia el valor del select
        document.getElementById('TipoUsuario').addEventListener('change', verificarTipoUsuario);
    </script>
}
